<a href="https://colab.research.google.com/github/carolina-garay/AnalisisYCuracion_Grupo32/blob/carolina_Garay_AyC/Garay_ayc_entregable_parte1_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2022*

----

# Trabajo práctico entregable - parte 1
Garay Carolina

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [2]:
pip install python-decouple

Collecting python-decouple
  Downloading python_decouple-3.6-py3-none-any.whl (9.9 kB)
Installing collected packages: python-decouple
Successfully installed python-decouple-3.6

In [3]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn as sns
sns.set_context('talk')

from decouple import config
from sqlalchemy import create_engine, text
import plotly
plotly.__version__
# Make sure it's 4.14.3

'5.5.0'

In [4]:
#Lectura del dataset
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [5]:
#Visualización de columnas
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
#Visualización de tipos de datos

melb_df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

## Ejercicio 1 SQL: 

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

##EJERCICIO1_Respuestas

1.1 Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

In [7]:
#Luego de realizar una rápida exploración de los datos
#establecemos conexión a la base de dstos
#Aquí el módulo sqlite3 proporciona una interfaz sencilla para interactuar con bases de datos SQLite.
engine = create_engine('sqlite:///sysarmy.sqlite3', echo=True)

1.2 Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

In [8]:
#Escribe los datos del DataFrame melb_df en una nueva tabla en SQLite
melb_df.to_sql('melb_sql', con=engine, if_exists="replace")

#Lectura del dataset airbnb, damos como 
#parámetros las columnas que queremos extraer
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
airbnb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

#Escribe los datos del DataFrame airbnb en una nueva tabla en SQLite
airbnb_df.to_sql('airbnb_sql', con=engine, if_exists="replace")

2022-04-29 02:53:44,988 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb_sql")
2022-04-29 02:53:44,989 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-29 02:53:44,991 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb_sql")
2022-04-29 02:53:44,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-29 02:53:45,003 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-29 02:53:45,007 INFO sqlalchemy.engine.Engine
CREATE TABLE melb_sql (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2022-04-29 02:53:45,009 INFO sqlalchemy.engine.Engine [no key 0.00217s] ()
2022-04-29 02:53:45,051 INFO sqlalchemy.engine.Engine CREATE INDEX ix_melb_sql_index ON melb_sql ("index")
2022-04-29 02:53:45,052 INFO sqlalchemy.engine.Engine [no key 0.00120s] ()
2022-04-29 02:53:45,062 INFO sqlalchemy.engine.Engine COMMIT
2022-04-29 02:53:45,092 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-29 02:53:45,614 INFO sqlalchemy.engine.Engine INSERT INTO melb_sql ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-29 02:53:45,616 INFO sqlalchemy.engine.Engine [generated in 0.46851s] ((0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0))
2022-04-29 02:53:45,716 INFO sqlalchemy.engine.Engine COMMIT
2022-04-29 02:53:53,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb_sql")
2022-04-29 02:53:53,769 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-29 02:53:53,777 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("airbnb_sql")
2022-04-29 02:53:53,784 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-29 02:53:53,795 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-29 02:53:53,798 INFO sqlalchemy.engine.Engine
CREATE TABLE airbnb_sql (
	"index" BIGINT,
	description TEXT,
	neighborhood_overview TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode TEXT,
	latitude FLOAT,
	longitude FLOAT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT
)


2022-04-29 02:53:53,800 INFO sqlalchemy.engine.Engine [no key 0.00206s] ()
2022-04-29 02:53:53,818 INFO sqlalchemy.engine.Engine CREATE INDEX ix_airbnb_sql_index ON airbnb_sql ("index")
2022-04-29 02:53:53,821 INFO sqlalchemy.engine.Engine [no key 0.00240s] ()
2022-04-29 02:53:53,832 INFO sqlalchemy.engine.Engine COMMIT

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2022-04-29 02:53:53,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-29 02:53:55,313 INFO sqlalchemy.engine.Engine INSERT INTO airbnb_sql ("index", description, neighborhood_overview, street, neighborhood, city, suburb, state, zipcode, latitude, longitude, price, weekly_price, monthly_price) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-29 02:53:55,321 INFO sqlalchemy.engine.Engine [generated in 1.30728s] ((0, 'House: Clean, New, Modern, Quite, Safe. 10Km from the City. Golf course, Tennis courts, bus stop & shops walking distance!! Rooms: Contains one queen ... (702 characters truncated) ... pproximately what your daily in and out hours might look like.  Note: There is a 5 year old fun loving dog who lives with us and is part of our famil', 'Very safe! Family oriented. Older age group.', 'Bulleen, VIC, Australia', 'Balwyn North', 'Manningham', 'Bulleen', 'VIC', '3105', -37.77268393, 145.0921328, 60, None, None), (1, "A large air conditioned room with queen spring mattress bed in a vintage apartment. Located right outside is a tram to the city just 19 minutes away. ... (702 characters truncated) ... ou east to Bundoora and west to Pacoevale. The Lygon Street tram line that goes past Melbourne University is 10 minutes walk west and Sydney Road and", "This hip area is a crossroads between two great cultural strips of inner Northern Melbourne.  Located in East Brunswick, between High St, Northcote a ... (533 characters truncated) ... re three coffee places within 50metres, and the Lomond Hotel Pub right across the road has good live music and there's also a pizza place downstairs.", 'Brunswick East, VIC, Australia', 'Brunswick', 'Moreland', 'Brunswick East', 'VIC', '3057', -37.76650512, 144.9807361, 35, 200.0, 803.0), (2, 'RIGHT IN THE HEART OF ST KILDA! It doesn\'t get more central than this! A fabulous north facing balcony apartment that offers right in the heart of t ... (703 characters truncated) ... system with iPod dock & DVD/CD player Selection of books, magazines, DVDs, CDs Glass framed console/desk with lamp Bedroom with queen bed, hotel qual', 'A stay at our apartment means you can enjoy some of Melbourne’s best restaurants, bars, cafes, shopping, dining and night life, all at your doorstep. ... (288 characters truncated) ... ith the city skyline as a stunning backdrop. Our apartment is perfectly suited to those wanting an exclusive, authentic urban residential experience.', 'St Kilda, VIC, Australia', 'St Kilda', 'Port Phillip', 'St Kilda', 'VIC', '3182', -37.85975502, 144.9773691, 159, 1253.0, 4452.0), (3, "Comfortable, relaxed house, a home away from  home! This is a shared house, you will be sharing with me, plus the occasional other guest. Rooms are l ... (702 characters truncated) ... om, watch a movie, or TV, or relax in the back yard. Guest's privacy will be respected at all times. If you need information and tips on where to go,", 'This is a great neighbourhood – it is quiet, yet close to so many things. High Street, Northcote (hip bars, cafes and craft stores) are a 10 minute walk east; Sydney Road (ethnic delights and great food) is 8 minute drive west; city is 30 minutes by tram or train.', 'Thornbury, VIC, Australia', 'Thornbury', 'Darebin', 'Thornbury', 'VIC', '3071', -37.75897072, 144.9892279, 50, 250.0, 920.0), (4, 'We offer comfortable accommodation in Inner Melbourne in Clement House, a two storey Victorian built in 1888. Large double bedroom with balcony, priv ... (660 characters truncated) ... n smoking house with an outside courtyard for smokers. The rate for guests that stay for a week are heavily discounted and therefore very attractive.', None, 'St Kilda East, VIC, Australia', 'St Kilda East', 'Port Phillip', 'St Kilda East', 'VIC', '3183', -37.8645303, 144.9922379, 69, 400.0, 1900.0), (5, 'Please note: No booking will be accepted with children under the age of 13 years.  Accommodation is non smoking in apartment & on grounds.  All visit ... (702 characters truncated) ... om, toilet & living area with stereo and 32" LCD TV. A second bedroom (Autumn Room) is available with another Queen size bed for extra travelers if r', 'Our street is quiet & secluded but within walking distance to almost anything you need.', 'Berwick, VIC, Australia', None, 'Casey', 'Berwick', 'VIC', '3806', -38.05725414, 145.3393561, 98, 540.0, None), (6, 'Easy to travel from and to the Airport; quiet and safe neighbourhood; a spacious and sunny room; backyard for sun baking; a friendly host who are eas ... (702 characters truncated) ... ovided here for your comfort is in a two bedroom unit with 100sqm backyard(my green garden). This bedroom is airy and bright with big windows. Your r', "The neighbours are quiet and friendly,  please don't park the car on my driveway because one of our neighbours is doing shifting work as a nurse. There are plenty of space for parking in the guest parking bay and along the street for free.", 'Reservoir, VIC, Australia', None, 'Darebin', 'Reservoir', 'VIC', '3073', -37.69729418, 145.0008156, 50, 335.0, 1400.0), (7, "Comfortable and spacious room in an apartment close to the heart of Melbourne. High quality bedding and good sound proofing guarantees a good night's ... (702 characters truncated) ... take you right into the CBD, via Lonsdale Street and to Grattan Street, Melbourne University Tram 112 onto Collins Street Jolimont train station (10m", "MCG (15min walk) Rod Laver Arena Fitzroy Gardens Smith Street restaurants and bars (10min walk) Melbourne CBD  Parliament House St Vincent's Hospital (12min walk) The Royal Eye and Ear Hospital (11min walk) Keeping active while away: Pool Gym East Melbourne Tennis Club  Fitzroy Gardens", 'East Melbourne, VIC, Australia', None, 'Melbourne', 'East Melbourne', 'VIC', '3002', -37.81026723, 144.98592, 100, None, None)  ... displaying 10 of 22895 total bound parameter sets ...  (22893, "Immaculately presented and carefully maintained executive courtyard apartment, well spaced floor plan comprises a queen-sized bedroom with large mirr ... (702 characters truncated) ... Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank Promenade (boasting an array of cafes, bars, restaurants and boutiques), The Cro", "A plethora of Melbourne highlights are just a few minutes walk away, including Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank P ... (68 characters truncated) ... s), The Crown Casino Complex (offering a further array of dining, shopping and entertainment facilities), Clarendon Street South Melbourne's shopping", 'Southbank, VIC, Australia', 'Southbank', 'Melbourne', 'Southbank', 'VIC', 3006.0, -37.8277951, 144.9549869, 130, None, None), (22894, "An ENTIRE apartment unit ALL TO YOURSELF in Melbourne city, only a 5min walk to Melbourne Central and Queen Victoria Markets. Makes this cozy inner-c ... (702 characters truncated) ... s fully equipped and furnished  home is ready to go with: - Air Conditioning & heating  - Wireless internet (Pocket Wi-Fi) BEDROOM  - Queen sized bed", None, 'Carlton, VIC, Australia', 'Carlton', 'Melbourne', 'Carlton', 'VIC', 3053.0, -37.80518635, 144.9623991, 179, None, None))
2022-04-29 02:53:55,890 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
#Visualización de columnas de los dataframe airbnb_df y melb_df
print("Columnas de airbnb_df:",airbnb_df.columns)
print("Columnas de melb_df:",melb_df.columns)

Columnas de airbnb_df: Index(['description', 'neighborhood_overview', 'street', 'neighborhood',
       'city', 'suburb', 'state', 'zipcode', 'latitude', 'longitude', 'price',
       'weekly_price', 'monthly_price'],
      dtype='object')
Columnas de melb_df: Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [10]:
 #Recuento de filas de los dataframe
 print(len(airbnb_df))
 print(len(melb_df))

22895
13580

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

In [11]:
# Cantidad de registros totales por ciudad en el dataframe airbnb_df
query1 = "SELECT city, COUNT(city) FROM airbnb_sql GROUP BY city"

# Cantidad de registros totales por ciudad en el dataframe melb_df
query2 = "SELECT CouncilArea, COUNT(CouncilArea) FROM melb_sql GROUP BY CouncilArea"

# Cantidad de registros totales por barrio y ciudad en el dataframe airbnb_df
query3 = "SELECT city, suburb, COUNT(suburb) FROM airbnb_sql GROUP BY suburb ORDER BY city" 

# Cantidad de registros totales por barrio y ciudad en el dataframe melb_df
query4 = "SELECT CouncilArea, Suburb, COUNT(Suburb) FROM melb_sql GROUP BY Suburb ORDER BY CouncilArea"

In [12]:

# creamos lista con las consultas para utilizarla en un for
queries = [query1, query2, query3, query4]

In [13]:
with engine.connect() as con:
    for query in queries:
      rs = con.execute(query)
      print(query)
      for row in rs:
          print(row)

      print('\n\n')

2022-04-29 02:53:56,089 INFO sqlalchemy.engine.Engine SELECT city, COUNT(city) FROM airbnb_sql GROUP BY city
2022-04-29 02:53:56,096 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT city, COUNT(city) FROM airbnb_sql GROUP BY city
('Banyule', 203)
('Bayside', 375)
('Boroondara', 664)
('Brimbank', 108)
('Cardinia', 123)
('Casey', 153)
('Darebin', 698)
('Frankston', 177)
('Glen Eira', 631)
('Greater Dandenong', 147)
('Hobsons Bay', 239)
('Hume', 170)
('Kingston', 309)
('Knox', 175)
('Manningham', 313)
('Maribyrnong', 436)
('Maroondah', 115)
('Melbourne', 7368)
('Melton', 95)
('Monash', 571)
('Moonee Valley', 344)
('Moreland', 967)
('Nillumbik', 88)
('Port Phillip', 2808)
('Stonnington', 1621)
('Whitehorse', 614)
('Whittlesea', 137)
('Wyndham', 426)
('Yarra', 2049)
('Yarra Ranges', 771)



2022-04-29 02:53:56,164 INFO sqlalchemy.engine.Engine SELECT CouncilArea, COUNT(CouncilArea) FROM melb_sql GROUP BY CouncilArea
2022-04-29 02:53:56,171 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT CouncilArea, COUNT(CouncilArea) FROM melb_sql GROUP BY CouncilArea
(None, 0)
('Banyule', 594)
('Bayside', 489)
('Boroondara', 1160)
('Brimbank', 424)
('Cardinia', 8)
('Casey', 38)
('Darebin', 934)
('Frankston', 53)
('Glen Eira', 848)
('Greater Dandenong', 52)
('Hobsons Bay', 434)
('Hume', 164)
('Kingston', 207)
('Knox', 80)
('Macedon Ranges', 7)
('Manningham', 311)
('Maribyrnong', 692)
('Maroondah', 80)
('Melbourne', 470)
('Melton', 66)
('Monash', 333)
('Moonee Valley', 997)
('Moorabool', 1)
('Moreland', 1163)
('Nillumbik', 36)
('Port Phillip', 628)
('Stonnington', 719)
('Unavailable', 1)
('Whitehorse', 304)
('Whittlesea', 167)
('Wyndham', 86)
('Yarra', 647)
('Yarra Ranges', 18)



2022-04-29 02:53:56,202 INFO sqlalchemy.engine.Engine SELECT city, suburb, COUNT(suburb) FROM airbnb_sql GROUP BY suburb ORDER BY city
2022-04-29 02:53:56,214 INFO sqlalchemy.engine.Engine [raw sql] ()
SELECT city, suburb, COUNT(suburb) FROM airbnb_sql GROUP BY suburb ORDER BY city
('Banyule', 'Bellfield', 2)
('Banyule', 'Briar Hill', 1)
('Banyule', 'Eaglemont', 5)
('Banyule', 'Greensborough', 9)
('Banyule', 'HEIDELBERG', 1)
('Banyule', 'HEIDELBERG WEST', 1)
('Banyule', 'Heidelberg', 45)
('Banyule', 'Heidelberg West', 12)
('Banyule', 'Ivanhoe', 36)
('Banyule', 'Ivanhoe (Melbourne)', 1)
('Banyule', 'Ivanhoe East', 3)
('Banyule', 'Lower Plenty', 6)
('Banyule', 'Montmorency', 9)
('Banyule', 'Rosanna', 13)
('Banyule', 'Saint Helena', 1)
('Banyule', 'Viewbank', 8)
('Banyule', 'Watsonia', 2)
('Banyule', 'Watsonia North', 1)
('Banyule', 'eaglemont', 1)
('Bayside', 'Beaumaris', 22)
('Bayside', 'Black Rock', 20)
('Bayside', 'Brighton', 124)
('Bayside', 'Brighton East', 47)
('Bayside', 'Brighton East, Melbourne', 4)
('Bayside', 'Hampton', 58)
('Bayside', 'Hampton East', 14)
('Bayside', 'Sandringham', 50)
('Boroondara', 'Ashburton', 16)
('Boroondara', 'Balwyn', 57)
('Boroondara', 'Balwyn North', 41)
('Boroondara', 'Camberwell', 86)
('Boroondara', 'Canterbury', 20)
('Boroondara', 'Hawthorn', 182)
('Boroondara', 'Hawthorn East', 81)
('Boroondara', 'Hawthorn east', 1)
('Boroondara', 'Hawthorn, Melbourne', 2)
('Boroondara', 'Kew', 108)
('Boroondara', 'Kew East', 10)
('Boroondara', 'Kew East, Victoria, AU', 2)
('Boroondara', 'Surrey Hills', 39)
('Boroondara', 'Surrey Hills, Victoria, AU', 1)
('Brimbank', 'Albanvale', 1)
('Brimbank', 'Albion', 4)
('Brimbank', 'Brimbank City', 1)
('Brimbank', 'Cairnlea', 4)
('Brimbank', 'Deer Park', 4)
('Brimbank', 'Delahey', 3)
('Brimbank', 'Derrimut', 5)
('Brimbank', 'Kealba', 7)
('Brimbank', 'Keilor', 5)
('Brimbank', 'Keilor Downs', 7)
('Brimbank', 'Keilor Lodge', 1)
('Brimbank', 'Keilor Park', 6)
('Brimbank', 'Kings Park', 1)
('Brimbank', 'Saint Albans', 11)
('Brimbank', 'Sunshine', 25)
('Brimbank', 'Sunshine North', 8)
('Brimbank', 'Sunshine West', 8)
('Brimbank', 'Sydenham', 3)
('Brimbank', 'Tullamarine', 17)
('Cardinia', 'Bayles', 1)
('Cardinia', 'Beaconsfield', 3)
('Cardinia', 'Beaconsfield Upper', 3)
('Cardinia', 'Bunyip', 2)
('Cardinia', 'Cardinia', 1)
('Cardinia', 'Cardinia Shire', 1)
('Cardinia', 'Clematis', 1)
('Cardinia', 'Cockatoo', 13)
('Cardinia', 'Cora Lynn', 2)
('Cardinia', 'Emerald', 40)
('Cardinia', 'Garfield North', 1)
('Cardinia', 'Gembrook', 15)
('Cardinia', 'Guys Hill', 1)
('Cardinia', 'Iona', 1)
('Cardinia', 'Menzies Creek', 7)
('Cardinia', 'Nar Nar Goon North', 2)
('Cardinia', 'Officer', 13)
('Cardinia', 'Officer South', 1)
('Cardinia', 'Pakenham', 21)
('Cardinia', 'Pakenham Upper', 1)
('Cardinia', 'Tonimbuk', 4)
('Casey', 'Berwick', 31)
('Casey', 'Botanic Ridge', 1)
('Casey', 'Clyde North', 6)
('Casey', 'Cranbourne', 4)
('Casey', 'Cranbourne East', 9)
('Casey', 'Cranbourne North', 12)
('Casey', 'Cranbourne South', 1)
('Casey', 'Cranbourne West', 8)
('Casey', 'Doveton', 4)
('Casey', 'Endeavour Hills', 11)
('Casey', 'Eumemmerring', 1)
('Casey', 'Hallam', 6)
('Casey', 'Hampton Park', 2)
('Casey', 'Harkaway', 2)
('Casey', 'Lynbrook', 1)
('Casey', 'Lyndhurst', 5)
('Casey', 'Narre Warren', 18)
('Casey', 'Narre Warren North', 6)
('Casey', 'Narre Warren South', 16)
('Casey', 'Pearcedale', 1)
('Casey', 'Tooradin', 1)
('Casey', 'Warneet', 4)
('Darebin', None, 0)
('Darebin', 'Fairfield', 37)
('Darebin', 'Heidelberg Heights', 22)
('Darebin', 'Kingsbury', 11)
('Darebin', 'Macleod', 6)
('Darebin', 'Northcote', 283)
('Darebin', 'Northcote South', 2)
('Darebin', 'Northcote, Victoria, AU', 1)
('Darebin', 'Preston', 142)
('Darebin', 'Preston West', 1)
('Darebin', 'Reservoir', 70)
('Darebin', 'Thornbury', 113)
('Darebin', 'Thornbury, Victoria, AU', 1)
('Frankston', 'Carrum Downs', 5)
('Frankston', 'Frankston', 66)
('Frankston', 'Frankston North', 1)
('Frankston', 'Frankston South', 37)
('Frankston', 'Langwarrin', 9)
('Frankston', 'Langwarrin South', 10)
('Frankston', 'Mount Eliza', 1)
('Frankston', 'Sandhurst', 8)
('Frankston', 'Seaford', 39)
('Glen Eira', 'Bentleigh', 38)
('Glen Eira', 'Bentleigh East', 52)
('Glen Eira', 'Carnegie', 84)
('Glen Eira', 'Caulfield', 27)
('Glen Eira', 'Caulfield East', 11)
('Glen Eira', 'Caulfield North', 119)
('Glen Eira', 'Caulfield South', 52)
('Glen Eira', 'Elsternwick', 72)
('Glen Eira', 'Gardenvale', 6)
('Glen Eira', 'Glen Huntly', 22)
('Glen Eira', 'McKinnon', 16)
('Glen Eira', 'Mlebourne', 1)
('Glen Eira', 'Murrumbeena', 50)
('Glen Eira', 'Ormond', 25)
('Glen Eira', 'Saint Kilda East', 182)
('Glen Eira', 'St Kilda East', 34)
('Glen Eira', 'StKilda East', 1)
('Glen Eira', '墨尔本', 5)
('Greater Dandenong', 'Bangholme', 1)
('Greater Dandenong', 'Dandenong', 29)
('Greater Dandenong', 'Dandenong North', 9)
('Greater Dandenong', 'Dandenong South', 2)
('Greater Dandenong', 'Keysborough', 41)
('Greater Dandenong', 'Noble Park', 27)
('Greater Dandenong', 'Noble Park North', 5)
('Greater Dandenong', 'Springvale', 21)
('Greater Dandenong', 'Springvale South', 10)
('Hobsons Bay', 'Altona', 32)
('Hobsons Bay', 'Altona Meadows', 19)
('Hobsons Bay', 'Altona North', 17)
('Hobsons Bay', 'Brooklyn', 2)
('Hobsons Bay', 'Laverton', 15)
('Hobsons Bay', 'Newport', 44)
('Hobsons Bay', 'Seabrook', 5)
('Hobsons Bay', 'Seaholme', 3)
('Hobsons Bay', 'South Kingsville', 11)
('Hobsons Bay', 'Spotswood', 12)
('Hobsons Bay', 'Williamstown', 74)
('Hobsons Bay', 'Williamstown North', 1)
('Hume', 'Attwood', 1)
('Hume', 'Brisbane', 1)
('Hume', 'Broadmeadows', 15)
('Hume', 'Bulla', 4)
('Hume', 'Craigieburn', 33)
('Hume', 'Dallas', 1)
('Hume', 'Diggers Rest', 7)
('Hume', 'Gladstone Park', 6)
('Hume', 'Greenvale', 17)
('Hume', 'Jacana', 5)
('Hume', 'Meadow Heights', 3)
('Hume', 'Mickleham', 3)
('Hume', 'Oaklands Junction', 5)
('Hume', 'Oaklands junction', 1)
('Hume', 'Roxburgh Park', 6)
('Hume', 'Somerton VIC 3062', 1)
('Hume', 'Sunbury', 24)
('Hume', 'Westmeadows', 20)
('Hume', 'Yuroke', 1)
('Kingston', 'Aspendale', 18)
('Kingston', 'Aspendale Gardens', 1)
('Kingston', 'Bonbeach', 22)
('Kingston', 'Carrum', 13)
('Kingston', 'Chelsea', 19)
('Kingston', 'Chelsea Heights', 4)
('Kingston', 'Cheltenham', 60)
('Kingston', 'Clarinda', 5)
('Kingston', 'Clayton South', 21)
('Kingston', 'Dingley Village', 1)
('Kingston', 'Edithvale', 14)
('Kingston', 'Heatherton', 14)
('Kingston', 'Highett', 39)
('Kingston', 'Mentone', 21)
('Kingston', 'Moorabbin', 13)
('Kingston', 'Mordialloc', 18)
('Kingston', 'Parkdale', 33)
('Kingston', 'Patterson Lakes', 14)
('Kingston', 'Waterways', 2)
('Kingston', 'Wheelers', 1)
('Kingston', 'clayton south', 1)
('Knox', 'Bayswater', 12)
('Knox', 'Boronia', 21)
('Knox', 'Ferntree Gully', 21)
('Knox', 'Knoxfield', 9)
('Knox', 'Lysterfield', 5)
('Knox', 'Rowville', 41)
('Knox', 'Scoresby', 11)
('Knox', 'The Basin', 7)
('Knox', 'Upper Ferntree Gully', 3)
('Knox', 'Wantirna', 18)
('Knox', 'Wantirna South', 29)
('Knox', 'Wantirna South VIC 3152', 1)
('Knox', 'Wantirna south', 1)
('Manningham', 'Bulleen', 21)
('Manningham', 'Doncaster', 132)
('Manningham', 'Doncaster East', 47)
('Manningham', 'Doncaster VIC 3108', 1)
('Manningham', 'Doncaster，Melbourne', 1)
('Manningham', 'Donvale', 10)
('Manningham', 'East Doncaster', 4)
('Manningham', 'Manningham', 7)
('Manningham', 'Park Orchards', 8)
('Manningham', 'Templestowe', 23)
('Manningham', 'Templestowe Lower', 17)
('Manningham', 'Warrandyte', 25)
('Manningham', 'Warrandyte South', 1)
('Manningham', 'Wonga Park', 7)
('Maribyrnong', 'Braybrook', 17)
('Maribyrnong', 'Footscray', 166)
('Maribyrnong', 'Kingsville', 10)
('Maribyrnong', 'Maidstone', 23)
('Maribyrnong', 'Maribyrnong', 57)
('Maribyrnong', 'Maribyrnong, Melbourne', 1)
('Maribyrnong', 'Seddon', 36)
('Maribyrnong', 'West Footscray', 38)
('Maribyrnong', 'Yarraville', 82)
('Maroondah', 'Bayswater North', 4)
('Maroondah', 'Croydon', 13)
('Maroondah', 'Croydon North', 12)
('Maroondah', 'Croydon South', 2)
('Maroondah', 'Heathmont', 4)
('Maroondah', 'Kilsyth South', 3)
('Maroondah', 'Mitcham', 38)
('Maroondah', 'Ringwood', 44)
('Maroondah', 'Ringwood East', 13)
('Maroondah', 'Ringwood North', 8)
('Maroondah', 'Warranwood', 3)
('Melbourne', 'Carlton', 537)
('Melbourne', 'Carlton South', 1)
('Melbourne', 'Carlton, Melbourne', 1)
('Melbourne', 'Dockland', 1)
('Melbourne', 'Docklands', 612)
('Melbourne', 'East Melbourne', 193)
('Melbourne', 'Kensington', 114)
('Melbourne', 'Melborne', 1)
('Melbourne', 'Melbourne', 4274)
('Melbourne', 'Melbourne CBD', 1)
('Melbourne', 'Melbourne City', 3)
('Melbourne', 'Melbourne VIC 3000', 1)
('Melbourne', 'Melbourne VIC 3004', 1)
('Melbourne', 'Melbourne Victoria', 1)
('Melbourne', 'North Melbourne', 340)
('Melbourne', 'North Melbourne, Victoria, AU', 1)
('Melbourne', 'Parkville', 87)
('Melbourne', 'South Wharf', 8)
('Melbourne', 'Southbank', 1236)
('Melbourne', 'Southbank Melbourne', 1)
('Melbourne', 'Southbank, Melbourne', 1)
('Melbourne', 'Southbank, Victoria, AU', 2)
('Melbourne', 'VIC', 4)
('Melbourne', 'Victoria', 8)
('Melbourne', 'West Melbourne', 263)
('Melbourne', 'West Melbourne - flagstaff', 1)
('Melbourne', 'melbourne', 5)
('Melbourne', '墨爾本 Melbourne', 1)
('Melton', 'Brookfield', 2)
('Melton', 'Burnside', 1)
('Melton', 'Burnside Heights', 1)
('Melton', 'Caroline Springs', 24)
('Melton', 'Eynesbury', 4)
('Melton', 'Hillside', 6)
('Melton', 'Kurunjang', 7)
('Melton', 'Melbourne, Victoria, AU', 3)
('Melton', 'Melton South', 14)
('Melton', 'Melton South ( STRATHTULLOH)', 1)
('Melton', 'Melton West', 5)
('Melton', 'Plumpton', 4)
('Melton', 'Rockbank', 2)
('Melton', 'STRATHTULLOH', 1)
('Melton', 'STRTHTULLOCH', 1)
('Melton', 'Strathtulloh', 2)
('Melton', 'Taylors Hill', 4)
('Melton', 'Toolern Vale', 14)
('Monash', 'Ashwood', 13)
('Monash', 'Chadstone', 24)
('Monash', 'Clayton', 111)
('Monash', 'Glen Waverley', 174)
('Monash', 'Holmesglen', 1)
('Monash', 'Hughesdale', 22)
('Monash', 'Huntingdale', 5)
('Monash', 'Mount Waverley', 72)
('Monash', 'Mt Waverley', 5)
('Monash', 'Mulgrave', 22)
('Monash', 'Notting Hill', 39)
('Monash', 'Oakleigh', 16)
('Monash', 'Oakleigh East', 28)
('Monash', 'Oakleigh South', 22)
('Monash', 'Wheelers Hill', 13)
('Monash', 'Wheelers Hill VIC 3150', 2)
('Monash', 'clayton', 1)
('Monash', '芒特韦弗利区', 1)
('Moonee Valley', 'Aberfeldie', 4)
('Moonee Valley', 'Airport West', 22)
('Moonee Valley', 'Ascot Vale', 80)
('Moonee Valley', 'Avondale Heights', 4)
('Moonee Valley', 'Essendon', 50)
('Moonee Valley', 'Essendon North', 3)
('Moonee Valley', 'Essendon West', 2)
('Moonee Valley', 'Essendon, Victoria, AU', 1)
('Moonee Valley', 'Flemington', 74)
('Moonee Valley', 'Keilor East', 14)
('Moonee Valley', 'Moonee Ponds', 53)
('Moonee Valley', 'Niddrie', 5)
('Moonee Valley', 'Strathmore', 5)
('Moonee Valley', 'Travancore', 39)
('Moreland', 'Brunswick', 439)
('Moreland', 'Brunswick / Melbourne', 1)
('Moreland', 'Brunswick East', 179)
('Moreland', 'Brunswick East, Melbourne', 1)
('Moreland', 'Brunswick VIC 3056', 1)
('Moreland', 'Brunswick West', 83)
('Moreland', 'Brunswick West, Melbourne', 1)
('Moreland', 'Brunswick west', 1)
('Moreland', 'Coburg', 108)
('Moreland', 'Coburg (Melbourne)', 1)
('Moreland', 'Coburg North', 24)
('Moreland', 'East Brunswick', 5)
('Moreland', 'Fawkner', 10)
('Moreland', 'Fitzroy North', 238)
('Moreland', 'Glenroy', 37)
('Moreland', 'Gowanbrae', 6)
('Moreland', 'Hadfield', 9)
('Moreland', 'Moreland City', 1)
('Moreland', 'Oak Park', 14)
('Moreland', 'Pascoe Vale', 24)
('Moreland', 'Pascoe Vale South', 17)
('Moreland', 'brunswick', 1)
('Nillumbik', 'Christmas Hills', 4)
('Nillumbik', 'Cottles Bridge', 2)
('Nillumbik', 'Diamond Creek', 6)
('Nillumbik', 'Eltham', 21)
('Nillumbik', 'Eltham North', 2)
('Nillumbik', 'Hurstbridge', 5)
('Nillumbik', 'Kangaroo Ground', 14)
('Nillumbik', 'Kangaroo ground', 1)
('Nillumbik', 'Melbourne (Eltham)', 1)
('Nillumbik', 'North Warrandyte', 6)
('Nillumbik', 'Panton Hill', 5)
('Nillumbik', 'Research', 5)
('Nillumbik', 'Saint Andrews', 1)
('Nillumbik', 'Smiths Gully', 5)
('Nillumbik', 'St Andrews', 1)
('Nillumbik', 'St. Andrews', 1)
('Nillumbik', 'Strathewen', 1)
('Nillumbik', 'Watsons Creek', 1)
('Nillumbik', 'Wattle Glen', 1)
('Port Phillip', 'Albert Park', 70)
('Port Phillip', 'Albert Park. Melbourne', 1)
('Port Phillip', 'Balaclava', 103)
('Port Phillip', 'City of Port Phillip', 1)
('Port Phillip', 'East St. Kilda', 1)
('Port Phillip', 'East st kilda', 1)
('Port Phillip', 'Elwood', 328)
('Port Phillip', 'Elwood, Melbourne', 3)
('Port Phillip', 'Elwood, St. Kilda', 3)
('Port Phillip', 'Middle Park', 48)
('Port Phillip', 'Middle Park Melbourne', 2)
('Port Phillip', 'Port Melbourne', 258)
('Port Phillip', 'Port Phillip City', 2)
('Port Phillip', 'Ripponlea', 26)
('Port Phillip', 'Ripponlea (East St Kilda)', 1)
('Port Phillip', 'Saint Kilda', 805)
('Port Phillip', 'Saint Kilda Beach', 1)
('Port Phillip', 'Saint Kilda West', 90)
('Port Phillip', 'Saint Kilda, Victoria, AU', 1)
('Port Phillip', 'South Melbourne', 288)
('Port Phillip', 'South Melbourne, Melbourne', 1)
('Port Phillip', 'St Kilda', 197)
('Port Phillip', 'St Kilda / Elwood', 1)
('Port Phillip', 'St Kilda West', 19)
('Port Phillip', 'St Kilda West Melbourne', 1)
('Port Phillip', 'St Kilda east', 1)
('Port Phillip', 'St kilda', 2)
('Port Phillip', 'St. Kilda', 5)
('Port Phillip', 'St. Kilda West', 1)
('Port Phillip', 'St.Kilda East', 1)
('Port Phillip', 'st kilda', 1)
('Stonnington', 'Armadale', 67)
('Stonnington', 'Armadale North', 2)
('Stonnington', 'Glen Iris', 71)
('Stonnington', 'Glen Iris, Victoria, AU', 1)
('Stonnington', 'Kooyong', 5)
('Stonnington', 'Malvern', 39)
('Stonnington', 'Malvern East', 95)
('Stonnington', 'Malvern, Melbourne', 1)
('Stonnington', 'Praharan', 1)
('Stonnington', 'Prahran', 262)
('Stonnington', 'Prahran / Toorak', 1)
('Stonnington', 'South Yarra', 883)
('Stonnington', 'South Yarra VIC 3141', 1)
('Stonnington', 'South Yarra, Victoria, AU', 1)
('Stonnington', 'Toorak', 117)
('Stonnington', 'Toorak, Melbourne.', 1)
('Stonnington', 'Windsor', 195)
('Whitehorse', 'Blackburn', 40)
('Whitehorse', 'Blackburn North', 8)
('Whitehorse', 'Blackburn South', 12)
('Whitehorse', 'Box Hill', 182)
('Whitehorse', 'Box Hill North', 82)
('Whitehorse', 'Box Hill South', 33)
('Whitehorse', 'Burwood', 61)
('Whitehorse', 'Burwood East', 27)
('Whitehorse', 'Forest Hill', 16)
('Whitehorse', 'Mont Albert', 26)
('Whitehorse', 'Mont Albert North', 19)
('Whitehorse', 'Nunawading', 10)
('Whitehorse', 'Vermont', 16)
('Whitehorse', 'Vermont South', 28)
('Whitehorse', 'Whitehorse City', 1)
('Whittlesea', 'Beveridge', 1)
('Whittlesea', 'Bundoora', 76)
('Whittlesea', 'Donnybrook', 1)
('Whittlesea', 'Doreen', 11)
('Whittlesea', 'Eden Park', 2)
('Whittlesea', 'Epping', 17)
('Whittlesea', 'Humevale', 2)
('Whittlesea', 'Kinglake West', 1)
('Whittlesea', 'Lalor', 10)
('Whittlesea', 'Mernda', 7)
('Whittlesea', 'Mill Park', 18)
('Whittlesea', 'South Morang', 11)
('Whittlesea', 'Thomastown', 12)
('Whittlesea', 'Whittlesea', 2)
('Whittlesea', 'Wollert', 6)
('Wyndham', 'Hoppers Crossing', 22)
('Wyndham', 'Little River', 1)
('Wyndham', 'Manor Lakes', 1)
('Wyndham', 'Mount Cottrell', 2)
('Wyndham', 'Point Cook', 191)
('Wyndham', 'Tarneit', 43)
('Wyndham', 'Truganina', 45)
('Wyndham', 'Truganina, Victoria, AU', 1)
('Wyndham', 'Werribee', 56)
('Wyndham', 'Werribee South', 5)
('Wyndham', 'Williams Landing', 39)
('Wyndham', 'Wyndham City', 1)
('Wyndham', 'Wyndham Vale', 15)
('Yarra', 'Abbotsford', 258)
('Yarra', 'Abbotsford, Melbourne', 1)
('Yarra', 'Alphington', 37)
('Yarra', 'BRUNSWICK EAST', 1)
('Yarra', 'Burnley', 11)
('Yarra', 'Carlton North', 114)
('Yarra', 'Clifton Hill', 65)
('Yarra', 'Collingwood', 295)
('Yarra', 'Collingwood, Melbourne', 2)
('Yarra', 'Cremorne', 44)
('Yarra', 'FITZROY', 1)
('Yarra', 'Fitzroy', 378)
('Yarra', 'Fitzroy, Melbourne', 3)
('Yarra', 'Fitzroy, Victoria, AU', 1)
('Yarra', 'North Fitzroy', 2)
('Yarra', 'Princes Hill', 24)
('Yarra', 'Richmond', 570)
('Yarra', 'Richmond, Victoria, AU', 1)
('Yarra Ranges', 'Badger Creek', 19)
('Yarra Ranges', 'Belgrave', 19)
('Yarra Ranges', 'Belgrave Heights', 6)
('Yarra Ranges', 'Big Pats Creek', 1)
('Yarra Ranges', 'Chirnside Park', 11)
('Yarra Ranges', 'Chum Creek', 13)
('Yarra Ranges', 'Chum Creek/Healesville', 1)
('Yarra Ranges', 'Coldstream', 7)
('Yarra Ranges', 'Dandenong Ranges', 8)
('Yarra Ranges', 'Dixons Creek', 10)
('Yarra Ranges', 'Don Valley', 3)
('Yarra Ranges', 'East Warburton', 6)
('Yarra Ranges', 'Ferny Creek', 11)
('Yarra Ranges', 'Gilderoy', 1)
('Yarra Ranges', 'Gladysdale', 2)
('Yarra Ranges', 'Gruyere', 15)
('Yarra Ranges', 'Healesville', 151)
('Yarra Ranges', 'Hoddles Creek', 2)
('Yarra Ranges', 'Kallista', 12)
('Yarra Ranges', 'Kalorama', 17)
('Yarra Ranges', 'Kilsyth', 6)
('Yarra Ranges', 'Launching Place', 8)
('Yarra Ranges', 'Lilydale', 21)
('Yarra Ranges', 'Macclesfield', 5)
('Yarra Ranges', 'McMahons Creek', 2)
('Yarra Ranges', 'Mcmahons Creek', 1)
('Yarra Ranges', 'Millgrove', 7)
('Yarra Ranges', 'Monbulk', 8)
('Yarra Ranges', 'Montrose', 3)
('Yarra Ranges', 'Mooroolbark', 15)
('Yarra Ranges', 'Mount Dandenong', 28)
('Yarra Ranges', 'Mount Evelyn', 7)
('Yarra Ranges', 'Mount Toolebewong', 3)
('Yarra Ranges', 'Mt Dandenong', 15)
('Yarra Ranges', 'Narbethong', 1)
('Yarra Ranges', 'Olinda', 87)
('Yarra Ranges', 'Powelltown', 1)
('Yarra Ranges', 'Sassafras', 27)
('Yarra Ranges', 'Selby', 4)
('Yarra Ranges', 'Seville', 8)
('Yarra Ranges', 'Seville East', 2)
('Yarra Ranges', 'Sherbrooke', 6)
('Yarra Ranges', 'Silvan', 2)
('Yarra Ranges', 'Steels Creek', 6)
('Yarra Ranges', 'Tarrawarra', 5)
('Yarra Ranges', 'Tecoma', 7)
('Yarra Ranges', 'The Patch', 16)
('Yarra Ranges', 'Toolangi', 2)
('Yarra Ranges', 'Tremont', 1)
('Yarra Ranges', 'Upwey', 15)
('Yarra Ranges', 'Wandin East', 3)
('Yarra Ranges', 'Wandin North', 7)
('Yarra Ranges', 'Warburton', 70)
('Yarra Ranges', 'Wesburn', 1)
('Yarra Ranges', 'Wesburn,10minutes to Warburton', 1)
('Yarra Ranges', 'Woori Yallock', 1)
('Yarra Ranges', 'Yarra Glen', 19)
('Yarra Ranges', 'Yarra Glen, Victoria, AU', 1)
('Yarra Ranges', 'Yarra Junction', 13)
('Yarra Ranges', 'Yarra Ranges Shire', 1)
('Yarra Ranges', 'Yarra Valley, Yarra Glen, Healesville', 1)
('Yarra Ranges', 'Yellingbo', 3)
('Yarra Ranges', 'Yellingbo, Yarra Valley', 1)
('Yarra Ranges', 'Yering', 2)




1.4 Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

In [1]:
#Esta línea de código es de Seba
# Por ello, realicé lo señalado en la consigna, pero SI SE EJECUTA EL CODIGO SE CUELGA, YA SEA EN COLAB O EN JUPYTER LOCAL

#query5 = "SELECT * FROM kaggle_sql INNER JOIN airbnb_sql ON kaggle_sql.Postcode = airbnb_sql.zipcode"
#queries = [query5]
#with engine.connect() as con:
 #   for query in queries:
  #    rs = con.execute(query)
   #   print(query)
    #  for row in rs:
     #     print(row)

## Ejercicio 2: 

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico. 
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
  1. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  2. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

##EJERCICIO2_Respuestas

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)