<a href="https://colab.research.google.com/github/carolina-garay/AnalisisYCuracion_Grupo32/blob/carolina_Garay_AyC/Garay_ayc_entregable_parte1_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2022*

----

# Trabajo práctico entregable - parte 1
Garay Carolina

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [10]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn as sns
sns.set_context('talk')

from decouple import config
from sqlalchemy import create_engine, text
import plotly
plotly.__version__
# Make sure it's 4.14.3

'5.5.0'

In [9]:
pip install python-decouple

Requirement already satisfied: python-decouple in /usr/local/lib/python3.7/dist-packages (3.6)

In [11]:
#Lectura del dataset
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:3]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [12]:
#Visualización de columnas
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [15]:
#Visualización de tipos de datos

melb_df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

## Ejercicio 1 SQL: 

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.

4. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

In [20]:
"""1)Crear una base de datos en SQLite utilizando la libreria 
[SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite
"""
#Luego de realizar una rápida exploración de los datos
#establecemos conexión a la base de dstos
#Aquí el módulo sqlite3 proporciona una interfaz sencilla para interactuar con bases de datos SQLite.
engine = create_engine('sqlite:///sysarmy.sqlite3', echo=True)

In [22]:
"""2)Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' 
en una tabla y el dataset generado 
en clase con datos de airbnb y sus precios por codigo postal en otra.
"""
#Escribe los datos del DataFrame melb_df en una nueva tabla en SQLite
melb_df.to_sql('survey', con=engine, if_exists="replace")

#Lectura del dataframe airbnb

2022-04-27 00:31:08,699 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2022-04-27 00:31:08,701 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,705 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2022-04-27 00:31:08,708 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,711 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-04-27 00:31:08,713 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,716 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2022-04-27 00:31:08,719 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,725 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:31:08,727 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2022-04-27 00:31:08,730 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("survey")
2022-04-27 00:31:08,732 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,734 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("survey")
2022-04-27 00:31:08,735 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,737 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:31:08,738 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2022-04-27 00:31:08,740 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("survey")
2022-04-27 00:31:08,741 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,742 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_survey_index")
2022-04-27 00:31:08,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,745 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("survey")
2022-04-27 00:31:08,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,748 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_survey_index")
2022-04-27 00:31:08,749 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:31:08,751 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:31:08,752 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2022-04-27 00:31:08,754 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:31:08,756 INFO sqlalchemy.engine.Engine
DROP TABLE survey
2022-04-27 00:31:08,757 INFO sqlalchemy.engine.Engine [no key 0.00139s] ()
2022-04-27 00:31:08,805 INFO sqlalchemy.engine.Engine COMMIT
2022-04-27 00:31:08,809 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:31:08,812 INFO sqlalchemy.engine.Engine
CREATE TABLE survey (
	"index" BIGINT,
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2022-04-27 00:31:08,816 INFO sqlalchemy.engine.Engine [no key 0.00389s] ()
2022-04-27 00:31:08,827 INFO sqlalchemy.engine.Engine CREATE INDEX ix_survey_index ON survey ("index")
2022-04-27 00:31:08,828 INFO sqlalchemy.engine.Engine [no key 0.00127s] ()
2022-04-27 00:31:08,839 INFO sqlalchemy.engine.Engine COMMIT
2022-04-27 00:31:08,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:31:09,337 INFO sqlalchemy.engine.Engine INSERT INTO survey ("index", "Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-27 00:31:09,341 INFO sqlalchemy.engine.Engine [generated in 0.43235s] ((0, 'Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), (1, 'Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), (2, 'Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), (3, 'Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), (4, 'Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), (5, 'Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), (6, 'Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), (7, 'Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  (13578, 'Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), (13579, 'Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0))
2022-04-27 00:31:09,461 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
#Lectura del dataset airbnb, damos como 
#parámetros las columnas que queremos extraer
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
airbnb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

#Escribe los datos del DataFrame airbnb en una nueva tabla en SQLite
airbnb_df.to_sql('airbnb_sql', con=engine, if_exists="replace")

2022-04-27 00:41:01,798 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb_sql")
2022-04-27 00:41:01,800 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,806 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb_sql")
2022-04-27 00:41:01,808 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,812 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-04-27 00:41:01,814 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,817 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb_sql")
2022-04-27 00:41:01,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,823 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:41:01,824 INFO sqlalchemy.engine.Engine [raw sql] ('airbnb_sql',)
2022-04-27 00:41:01,827 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("airbnb_sql")
2022-04-27 00:41:01,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,831 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("airbnb_sql")
2022-04-27 00:41:01,833 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,835 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:41:01,836 INFO sqlalchemy.engine.Engine [raw sql] ('airbnb_sql',)
2022-04-27 00:41:01,843 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("airbnb_sql")
2022-04-27 00:41:01,844 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,847 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_airbnb_sql_index")
2022-04-27 00:41:01,849 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,852 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("airbnb_sql")
2022-04-27 00:41:01,854 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,857 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_airbnb_sql_index")
2022-04-27 00:41:01,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-27 00:41:01,862 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-04-27 00:41:01,864 INFO sqlalchemy.engine.Engine [raw sql] ('airbnb_sql',)
2022-04-27 00:41:01,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:41:01,873 INFO sqlalchemy.engine.Engine
DROP TABLE airbnb_sql
2022-04-27 00:41:01,875 INFO sqlalchemy.engine.Engine [no key 0.00168s] ()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

2022-04-27 00:41:02,318 INFO sqlalchemy.engine.Engine COMMIT
2022-04-27 00:41:02,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:41:02,330 INFO sqlalchemy.engine.Engine
CREATE TABLE airbnb_sql (
	"index" BIGINT,
	description TEXT,
	neighborhood_overview TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode TEXT,
	latitude FLOAT,
	longitude FLOAT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT
)


2022-04-27 00:41:02,332 INFO sqlalchemy.engine.Engine [no key 0.00186s] ()
2022-04-27 00:41:02,345 INFO sqlalchemy.engine.Engine CREATE INDEX ix_airbnb_sql_index ON airbnb_sql ("index")
2022-04-27 00:41:02,349 INFO sqlalchemy.engine.Engine [no key 0.00390s] ()
2022-04-27 00:41:02,360 INFO sqlalchemy.engine.Engine COMMIT
2022-04-27 00:41:02,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-27 00:41:02,993 INFO sqlalchemy.engine.Engine INSERT INTO airbnb_sql ("index", description, neighborhood_overview, street, neighborhood, city, suburb, state, zipcode, latitude, longitude, price, weekly_price, monthly_price) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-27 00:41:02,995 INFO sqlalchemy.engine.Engine [generated in 0.55520s] ((0, 'House: Clean, New, Modern, Quite, Safe. 10Km from the City. Golf course, Tennis courts, bus stop & shops walking distance!! Rooms: Contains one queen ... (702 characters truncated) ... pproximately what your daily in and out hours might look like.  Note: There is a 5 year old fun loving dog who lives with us and is part of our famil', 'Very safe! Family oriented. Older age group.', 'Bulleen, VIC, Australia', 'Balwyn North', 'Manningham', 'Bulleen', 'VIC', '3105', -37.77268393, 145.0921328, 60, None, None), (1, "A large air conditioned room with queen spring mattress bed in a vintage apartment. Located right outside is a tram to the city just 19 minutes away. ... (702 characters truncated) ... ou east to Bundoora and west to Pacoevale. The Lygon Street tram line that goes past Melbourne University is 10 minutes walk west and Sydney Road and", "This hip area is a crossroads between two great cultural strips of inner Northern Melbourne.  Located in East Brunswick, between High St, Northcote a ... (533 characters truncated) ... re three coffee places within 50metres, and the Lomond Hotel Pub right across the road has good live music and there's also a pizza place downstairs.", 'Brunswick East, VIC, Australia', 'Brunswick', 'Moreland', 'Brunswick East', 'VIC', '3057', -37.76650512, 144.9807361, 35, 200.0, 803.0), (2, 'RIGHT IN THE HEART OF ST KILDA! It doesn\'t get more central than this! A fabulous north facing balcony apartment that offers right in the heart of t ... (703 characters truncated) ... system with iPod dock & DVD/CD player Selection of books, magazines, DVDs, CDs Glass framed console/desk with lamp Bedroom with queen bed, hotel qual', 'A stay at our apartment means you can enjoy some of Melbourne’s best restaurants, bars, cafes, shopping, dining and night life, all at your doorstep. ... (288 characters truncated) ... ith the city skyline as a stunning backdrop. Our apartment is perfectly suited to those wanting an exclusive, authentic urban residential experience.', 'St Kilda, VIC, Australia', 'St Kilda', 'Port Phillip', 'St Kilda', 'VIC', '3182', -37.85975502, 144.9773691, 159, 1253.0, 4452.0), (3, "Comfortable, relaxed house, a home away from  home! This is a shared house, you will be sharing with me, plus the occasional other guest. Rooms are l ... (702 characters truncated) ... om, watch a movie, or TV, or relax in the back yard. Guest's privacy will be respected at all times. If you need information and tips on where to go,", 'This is a great neighbourhood – it is quiet, yet close to so many things. High Street, Northcote (hip bars, cafes and craft stores) are a 10 minute walk east; Sydney Road (ethnic delights and great food) is 8 minute drive west; city is 30 minutes by tram or train.', 'Thornbury, VIC, Australia', 'Thornbury', 'Darebin', 'Thornbury', 'VIC', '3071', -37.75897072, 144.9892279, 50, 250.0, 920.0), (4, 'We offer comfortable accommodation in Inner Melbourne in Clement House, a two storey Victorian built in 1888. Large double bedroom with balcony, priv ... (660 characters truncated) ... n smoking house with an outside courtyard for smokers. The rate for guests that stay for a week are heavily discounted and therefore very attractive.', None, 'St Kilda East, VIC, Australia', 'St Kilda East', 'Port Phillip', 'St Kilda East', 'VIC', '3183', -37.8645303, 144.9922379, 69, 400.0, 1900.0), (5, 'Please note: No booking will be accepted with children under the age of 13 years.  Accommodation is non smoking in apartment & on grounds.  All visit ... (702 characters truncated) ... om, toilet & living area with stereo and 32" LCD TV. A second bedroom (Autumn Room) is available with another Queen size bed for extra travelers if r', 'Our street is quiet & secluded but within walking distance to almost anything you need.', 'Berwick, VIC, Australia', None, 'Casey', 'Berwick', 'VIC', '3806', -38.05725414, 145.3393561, 98, 540.0, None), (6, 'Easy to travel from and to the Airport; quiet and safe neighbourhood; a spacious and sunny room; backyard for sun baking; a friendly host who are eas ... (702 characters truncated) ... ovided here for your comfort is in a two bedroom unit with 100sqm backyard(my green garden). This bedroom is airy and bright with big windows. Your r', "The neighbours are quiet and friendly,  please don't park the car on my driveway because one of our neighbours is doing shifting work as a nurse. There are plenty of space for parking in the guest parking bay and along the street for free.", 'Reservoir, VIC, Australia', None, 'Darebin', 'Reservoir', 'VIC', '3073', -37.69729418, 145.0008156, 50, 335.0, 1400.0), (7, "Comfortable and spacious room in an apartment close to the heart of Melbourne. High quality bedding and good sound proofing guarantees a good night's ... (702 characters truncated) ... take you right into the CBD, via Lonsdale Street and to Grattan Street, Melbourne University Tram 112 onto Collins Street Jolimont train station (10m", "MCG (15min walk) Rod Laver Arena Fitzroy Gardens Smith Street restaurants and bars (10min walk) Melbourne CBD  Parliament House St Vincent's Hospital (12min walk) The Royal Eye and Ear Hospital (11min walk) Keeping active while away: Pool Gym East Melbourne Tennis Club  Fitzroy Gardens", 'East Melbourne, VIC, Australia', None, 'Melbourne', 'East Melbourne', 'VIC', '3002', -37.81026723, 144.98592, 100, None, None)  ... displaying 10 of 22895 total bound parameter sets ...  (22893, "Immaculately presented and carefully maintained executive courtyard apartment, well spaced floor plan comprises a queen-sized bedroom with large mirr ... (702 characters truncated) ... Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank Promenade (boasting an array of cafes, bars, restaurants and boutiques), The Cro", "A plethora of Melbourne highlights are just a few minutes walk away, including Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank P ... (68 characters truncated) ... s), The Crown Casino Complex (offering a further array of dining, shopping and entertainment facilities), Clarendon Street South Melbourne's shopping", 'Southbank, VIC, Australia', 'Southbank', 'Melbourne', 'Southbank', 'VIC', 3006.0, -37.8277951, 144.9549869, 130, None, None), (22894, "An ENTIRE apartment unit ALL TO YOURSELF in Melbourne city, only a 5min walk to Melbourne Central and Queen Victoria Markets. Makes this cozy inner-c ... (702 characters truncated) ... s fully equipped and furnished  home is ready to go with: - Air Conditioning & heating  - Wireless internet (Pocket Wi-Fi) BEDROOM  - Queen sized bed", None, 'Carlton, VIC, Australia', 'Carlton', 'Melbourne', 'Carlton', 'VIC', 3053.0, -37.80518635, 144.9623991, 179, None, None))
2022-04-27 00:41:03,231 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
#Visualización de columnas del dataframe airbnb_df
airbnb_df.columns

Index(['description', 'neighborhood_overview', 'street', 'neighborhood',
       'city', 'suburb', 'state', 'zipcode', 'latitude', 'longitude', 'price',
       'weekly_price', 'monthly_price'],
      dtype='object')

In [30]:
 #Recuento de filas del dataframe airbnb_df
 len(airbnb_df)

22895

## Ejercicio 2: 

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar las columnas seleccionadas y las que no lo fueron.
 - Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.

2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico. 
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana o el mínimo.
  1. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  2. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)